export(GetCountryEEZ)
export(GetCountryEnvelope)
export(GetWCSAccessPoint)
export(GetWCSCoverage)
export(GetWCSTemplate)
export(GetWCSCoverage)
export(IsISOCodeInvalid)
import(httr)
import(rgeos)
import(sp)
import(stringr)
