export(GetCountryEEZ)
export(GetCountryEnvelope)
export(GetWCSAccessPoint)
export(GetWCSTemplate)
export(IsISOCodeInvalid)
import(stringr)
import(httr)
import(XML)
import(RCurl)
import(rgeos)
import(raster)
import(rgdal)
library(sp)
