export(CreateGeoServerCoverage)
export(CreateGeoServerCoverageStore)
export(CreateGeoServerWorkspace)
export(GetCountryEEZ)
export(GetCountryEnvelope)
export(GetWCSAccessPoint)
export(GetWCSCoverage)
export(GetWCSTemplate)
export(IsISOCodeInvalid)
import(RCurl)
import(RJSONIO)
import(httr)
import(raster)
import(rgeos)
import(sp)
import(stringr)
